body{
  padding-top: 70px;
}
.jumbotron{
  color: #2c5e50;

}
.navbar-default{
  background-color: #2c5e50;
}
.navbar-default .navbar-brand {
    color: #FFFFFF;
}
.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}
